.workspaceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: lightblue;
    height: 90vh;
    border-radius: 30px;
    max-width: 1500px;
    margin-top: 30px;
    width: 90%;
}

header {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

button {
    margin-right: 20px;
    background-color: lightblue;
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: -10px;
}

.title {
    background-color: lightblue;
    font-size: 3vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-left: 20px;
}

.containerWorkspace {
    background-color: rgb(133, 239, 241);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75vh;
    width: 90%;
    margin-top: -5px;
    border-radius: 20px;
    justify-content: space-between;
}

aside {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 40%;
    border-radius: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
}

.channels {
    background-color: lightblue;
    font-size: 2vh;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.channel {
    background-color: rgb(176, 233, 189);
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px, 5px, 5px, 5px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.channels_container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
}

.selectChannel {
    background-color: lightblue;
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    height: 3vh;
    margin-bottom: 20px;
}

.create_channel {

    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
}

p {
    background-color: rgb(176, 233, 189);
    text-align: center;
    margin: 20px;
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
}


.messages {
    background-color: lightblue;
    font-size: 90%;
    height: 50vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.messages_zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 50px;

    background-color: lightblue;
    height: 90%;
    width: 100%;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
}

.formChat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    width: 100%;
    height: auto;
    padding: 0 10px;

}

.formChat label {

    font-size: 16px;
    white-space: nowrap;


}

.form_group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: lightblue;
    text-align: center;



}

.formChat input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    box-sizing: border-box;
    height: 40px;
}

button.send {

    height: 40px;
    padding: 0 15px;
    width: auto;
    position: relative;
    bottom: -30px;


}

@media (max-width: 768px) {
    .workspaceContainer {
        height: auto;
        margin-top: 10px;
    }

    .messages_zone {
        margin-left: -1px;
        width: 60vw;
    }

    .form_group {
        flex-direction: column;
        align-items: center;
    }

    .containerWorkspace {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    aside {
        width: 100%;
        margin-left: 0;
    }

    .messages {
        width: 100%;
        margin-right: 0;
    }
}


.formChat {
    flex-direction: column;
    width: 90%;
}

.formChat label,
.formChat input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}


@media (max-width: 480px) {
    .title {
        font-size: 5vw;
    }

    .messages {
        margin-left: 100px;
    }
.formChat{
    margin-left: 50%;}
    button {
        font-size: 3vw;
        width: 5;
    }
}