/* * {
  font-family:   "Lato", sans-serif;
 
}
h2{color: white;
font-weight: 500;
font-size: 20px;}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color:rgba(131,56,138, 1);
  height: 90vh;
  border-radius: 30px;
  max-width: 1000px;
  margin-top: 30px;
}

.form {
  background-color:rgba(234,189,251, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height:70vh;
  width: 55vw;
  border-radius: 10px;
}


label {
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  color: rgb(119, 21, 114); 
  margin-top: 50px;
  border-radius: 5px;
  padding: 4px;
  width: auto;
box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3) ;
}

input {
  background-color:white;
  font-size: 15px;
  font-weight: 400  ;
  color: rgb(119, 21, 114);  margin-top: 10px;
  border-radius: 5px;
  padding: 4px;
  border: none;
  box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3) ;
}




button {
  border: 1px solid rgb(200, 75, 138);
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  bottom: -10px;
}


@media (max-width: 560px) {

label{width:50vw;
font-size: 12px;
text-align: center;}


}


@media (max-width: 360px) {
  .createWorkspaceContainer {
    width: 200px;
  }

  h2 {
    font-size: 15px;
  }
}
 */
