* {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #4c154c;
}

.homePageContainer {
  background-color: #641e6a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin-top: 50px;
  margin-left: 5vw;
  height: 90vh;
  border-radius: 15px;
 box-shadow: 5px 5px 5px rgba(46, 3, 25, 0.3);  
}

h1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #641e6a;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(131, 56, 138, 1);
}

.workspace {
  background-color: rgba(131, 56, 138, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50vw;
  border-radius: 10px;
  margin-bottom: 10vh;
  box-shadow: 5px 5px 5px rgba(58, 2, 31, 0.3);
}


ul {
  background-color: rgba(131, 56, 138, 1);

  border-radius: 8px;
  color: rgb(119, 21, 114);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(207, 90, 150, 0.3);

}

.create {
  background-color: rgba(131, 56, 138, 1);
  margin-right: 20px;
  border-radius: 8px;
  margin-top: 20px;
  height: 30px;
  box-shadow: 5px 5px 5px rgba(142, 13, 79, 0.3);
  font-weight: 400;
  border: 1px solid rgb(119, 21, 114);
}

.scroll-container {
  overflow-y: auto;

  scroll-padding: 30px;
  height: 55vh;
  width: 45vw;
  background-color: rgba(234, 189, 251, 1);
  border: 1px solid rgb(232, 236, 234);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(207, 90, 150, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.scroll-container::-webkit-scrollbar {
  width: 15px;
}



.scroll-container::-webkit-scrollbar-track {
  background-color:  #641e6a;
}



.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(131, 56, 138, 1);
  border-radius: 10px; 
  border: 2px solid #ccc; 
}



.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #671d6c;
}



.workspaceList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(119, 21, 114);
  border-radius: 10px;
  width: 60vh;
  height: 50px;
  padding: 5px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  box-shadow: 5px 5px 5px rgba(207, 90, 150, 0.3);
  background-color: white;
  font-weight: 700;
}

.button:hover {
  background-color: rgba(131, 56, 138, 1);
}

.button {
  background-color: rgb(119, 21, 114);
  box-shadow: 5px 5px 5px rgba(131, 56, 138, 1);
  color: white;
}

.enter {

  border: 1px solid rgba(131, 56, 138, 1);
  border-radius: 10px;
  padding: 5px 20px;
  height: 20px;
  font-size: 15px;
  width: 40px;
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .workspaceList {
    width: 40vh;
  }
}

@media (max-width: 700px) {
  .workspaceList {
    width: 30vh;
  }
}

@media (max-width: 560px) {
  .workspaceList {
    width: 100px;
    font-size: small;
    flex-direction: column;
   
  }

  .enter {
    width: 30px;
    height: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .workspace h2 {
    font-size: 15px;
  }

  .workspace {
    width: 70vw;
  }

  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 10px;
  }

  .scroll-container {
    width: 60vw;
    height: 50vh;
  }

  .scroll-container::-webkit-scrollbar {
    width: 15px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(135, 35, 137);
    border-radius: 5px;
  }

  .scroll-container {
    scrollbar-width: auto;
  }

}