/* .renderChats {
    background-color: rgb(76, 182, 208);
    border-radius: 5px;

    color: dimgray;

}

h4 {
    background-color: rgb(76, 182, 208);
}
.renderChatsContainer {
    background-color: rgb(76, 182, 208);
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
    color: dimgray;
    max-height: 100%;
}


li {
    background-color: rgb(76, 182, 208);
    list-style: none;
}

strong {
    background-color: rgb(76, 182, 208);
}

@media (max-width: 380px) {
    .messages {
        height: 40%;
    }

    .form_group {
        height: 20%;
    }

} */