
.renderChatsContainer {
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
 
    max-height: 100%;
}



.messages_list{
    background-color: white;
box-shadow: none;
align-items: flex-start;}

li {
    background-color:white;
    list-style: none;
    
    font-weight: 400;

    
}



strong {
    background-color: white;
    font-weight: 600;
}

@media (max-width: 380px) {
    .messages {
        height: 40%;
    }

    .form_group {
        height: 20%;
    }

} 