/* .workspaceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: lightblue;
    height: 90vh;
    border-radius: 30px;
    max-width: 1500px;
    margin-top: 30px;
    width: 90%;
}

header {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

button {
    margin-right: 20px;
    background-color: lightblue;
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: -10px;
}

.title {
    background-color: lightblue;
    font-size: 3vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-left: 20px;
}

.containerWorkspace {
    background-color: rgb(133, 239, 241);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75vh;
    width: 90%;
    margin-top: -5px;
    border-radius: 20px;
    justify-content: space-between;
}

aside {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 40%;
    border-radius: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
}

.channels {
    background-color: lightblue;
    font-size: 2vh;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.channel {
    background-color: rgb(176, 233, 189);
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px, 5px, 5px, 5px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    box-shadow: 2px 2px 5px rgb(5, 97, 42, 0.3);
}

.channels_container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
}

.selectChannel {
    background-color: lightblue;
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    height: 3vh;
    margin-bottom: 20px;
}

.create_channel {

    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
}

p {
    background-color:white;
    color: rgb(226, 65, 92);
    font-weight: 400;
    text-align: center;
    margin: 20px;
    border: 1px solid rgb(5, 97, 42);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgb(5, 97, 42, 0.3);
}

.label {
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
}

.messages {
    background-color: lightblue;
    font-size: 90%;
    height: 50vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;

    max-height: 70%;
}

h4 {
    background-color: lightblue;
    height: auto;
}

.messages_zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
    background-color: lightblue;
    height: 90%;
    width: 100%;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
    border-radius: 10px;
}

.formChat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    padding: 0 10px;
    background-color: rgb(174, 193, 227);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
    height: 92%;


}

.newMessages {
    background-color: lightblue;
    height: 100px;
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;



}

.renderChats {
    background-color: rgb(76, 182, 208);
    border-radius: 5px;
    height: 70%;
    overflow-y: auto;
    scrollbar-color: rgb(82, 83, 83) rgb(132, 211, 239);
    scroll-padding: 20px;


}










.messages_list {
    background-color: rgb(76, 182, 208);
    height: 400px;
}


.formChat input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;


}

.sendMessage {

    margin-top: -10px;
    background-color: rgb(147, 193, 247);




}

@media (max-width: 768px) {
    .workspaceContainer {
        height: auto;
        margin-top: 10px;
    }

    .messages_zone {
        margin-left: -1px;
        width: 72vw;
        height: 50vh;
    }

    .messages_list {
        height: 5vh;
    }

    .messages {
        height: 20vh;
    }

    .renderChatsContainer {
        height: 50vh;
        width: 70vw;
    }

    .containerWorkspace {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 50vh;

    }


    aside {
        width: 90%;
        margin-top: 10px;


    }

    .messages {
        width: 100%;
        margin-right: 0;
    }
}


.formChat {
    flex-direction: column;
    width: 90%;
}

.formChat label,
.formChat input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}


@media (max-width: 480px) {
    .title {
        font-size: 5vw;
    }

    .messages {
        margin-left: 20%;
    }

    button {
        font-size: 3vw;
        width: 5;
    }
} */