 .workspaceContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: auto;
     background-color: #641e6a;
     height: 90vh;
     border-radius: 30px;
     max-width: 1500px;
     margin-top: 30px;
     width: 90%;
 }

 h3 {
     color: #641e6a;
     background-color: rgba(234, 189, 251, 1);
     font-weight: 800;
 }

 header {
     background-color: #641e6a;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     height: 10vh;
     width: 100%;
     border-radius: 30px 30px 0 0;
 }

 button {
     margin-right: 20px;
     background-color: rgb(230, 173, 202);
     border: 1px solid rgb(74, 16, 75);
     border-radius: 10px;
     padding: 5px 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     position: relative;
     bottom: -10px;
 }

 .button.exit {
     margin-top: -10px;
     margin-left: 10px;
 }

 .title {
     background-color: #641e6a;
     font-size: 3vh;
     height: 10vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow-y: auto;
     margin-left: 20px;
 }

 .containerWorkspace {
     background-color: rgba(131, 56, 138, 1);
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 75vh;
     width: 90%;
     margin-top: -5px;
     border-radius: 20px;
     justify-content: space-between;
 }

 aside {
     background-color: rgba(234, 189, 251, 1);
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 70vh;
     width: 30%;
     border-radius: 10px;
     margin-left: 10px;
     border-radius: 10px;
     box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
 }

 .channels {
     background-color: white;
     font-size: 2vh;
     height: 50vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: 8px;
     overflow-y: auto;



 }

 .channels::-webkit-scrollbar {
     width: 15px;
 }


 .channels::-webkit-scrollbar-track {
     background-color: #641e6a;
 }


 .channels::-webkit-scrollbar-thumb {
     background-color: rgba(131, 56, 138, 1);
     border-radius: 10px;
     border: 2px solid #ccc;
 }


 .channels::-webkit-scrollbar-thumb:hover {
     background-color: #671d6c;
 }




 .channel {
     background-color: rgba(131, 56, 138, 1);
     border: 1px solid rgb(47, 13, 26);
     border-radius: 10px;
     margin-top: 10px;
     margin-left: 10px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 90%;
     box-shadow: 2px 2px 5px rgba(76, 32, 45, 0.3);
     color: white;
 }

 .channels_container {
     background-color: rgba(234, 189, 251, 1);
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 60vh;
     width: 100%;
     border-radius: 10px;
 }


 .create_channel {

     border: 1px solid rgb(73, 11, 78);
     border-radius: 10px;
     padding: 5px 20px;
     margin-top: 10px;
 }

 p {
     background-color: white;
     color: rgb(47, 13, 26);
     font-weight: 500;
     text-align: center;
     margin: 20px;
     border: 1px solid d rgb(47, 13, 26);
     border-radius: 10px;
     padding: 5px 20px;
     margin-top: 10px;
     box-shadow: 1px 1px 5px rgb(5, 97, 42, 0.3);
 }

 .label {
     box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
 }

 .messages {
     background-color: rgba(234,189,251, 1);
     font-size: 90%;
     height: 50vh;
     width: 90%;
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin-right: 10px;
     border-radius: 10px;

     max-height: 70%;
 }

 h4 {
     background-color: white;
     color: rgb(131, 56, 138, 1);
     font-weight: 700;
     height: auto;
 }

 .messages_zone {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 30px;

     justify-content: space-between;
     background-color: rgba(234, 189, 251, 1);
     height: 90%;
     width: 60%;
     box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
     border-radius: 10px;
 }

 .formChat {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;

width: 90%;
     padding: 0 10px;
     background-color:rgba(234, 189, 251, 1);
     border-radius: 10px;
     box-shadow: 10px 10px 5px rgb(5, 97, 42, 0.3);
     height: 92%;


 }
.sendMessage{  background-color: rgb(119, 21, 114);
    box-shadow: 5px 5px 5px rgba(131, 56, 138, 1);
    color: white;
margin-left: 15px;
margin-bottom: 20px;}


 .newMessages {
     background-color: rgb(131, 56, 138, 1);
     height: 100px;
     margin-bottom: 5px;
     width: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px;



 }

 .renderChats {
     background-color: white;
     border-radius: 5px;
     height: 70%;
     overflow-y: auto;

     scroll-padding: 20px;


 }

 
 .renderChats::-webkit-scrollbar {
    width: 15px;
}



.renderChats::-webkit-scrollbar-track {
    background-color: #641e6a;
}



.renderChats::-webkit-scrollbar-thumb {
    background-color: rgba(131, 56, 138, 1);
    border-radius: 10px;
    border: 2px solid #ccc;
}



.renderChats::-webkit-scrollbar-thumb:hover {
    background-color: #671d6c;
}










 .formChat input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 100%;
     box-sizing: border-box;


 }

 .sendMessage {

     margin-top: -10px;
     border: 1px solid rgb(73, 11, 78);
     border-radius: 10px;
     padding: 5px 20px;
     margin-top: 10px;


 }

 @media (max-width: 768px) {

    .messages_zone {
    margin-left: 7vw;
        width: 67vw;
        height: 45vh;
    }






     .containerWorkspace {
         flex-direction: column;
         justify-content: space-between;
         align-items: center;



     }


     aside {
         width: 90%;
         margin-top: 10px;
         height: 50vh;


     }

     .channels_container {
         height: 30vh;
         margin-bottom: 8px;
     }

     .channels {
         height: 20vh;
     }
.messages_list{
    height: 1vh;}
     .messages {
         width: 90%;
         height: 20vh;
         
     }
 }

 .messages_zone {
     margin-top: 10px;
 }

 @media (max-width: 650px){

     .messages {
         height: 80%;
     }
 }

.newMessages {height: 20%;
}
 @media (max-width: 480px) {
     .title {
         font-size: 5vw;
     }

     .messages {
      width: 90%;
      margin-left: 5%;
         height: 42%;
     }

     .button.create_channel {
         margin-top: -10px;
     }

     button {
         font-size: 3vw;
         width: 5;
     }

     .title {
         font-size: small;
     }
     .newMessages{height:80px;}
     .formChat{flex-direction: column;}
     .formChat input{height: 10px;}
     .sendMessage{margin-top: -5px;}
 }